<%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>
    <div id="accessMsg" style="text-align:center;margin: 45vh;">
      <div class="spinner-border " role="status" style="color: skyblue;">
        <span class="sr-only"></span>
      </div>
      <br>
      <div class="alert alert-info" id="noPatientMsg" role="alert" style="text-align:center">
        You have to be admin to access this page!! 
      </div>
    </div>
    <div style="text-align: center;margin: 25vh;">
      <form hidden style="display: flex;">
        <input
          type="text"
          id="doctor_name"
          class="form-control w-50"
          name="name"
          placeholder="Doctor name"
        />
        <br>
        <input
          type="text"
          name="public_address"
          class="form-control w-50"
          id="public_address"
          placeholder="Public address"
        />
        <button type="submit" class="btn btn-success" id="addDoctor">Register</button>
      </form>
    </div>
    <div style="text-align: -webkit-center;">
      <table id="doctorsList" style="text-align:center;" class="table w-50">
      </table>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
  <script src="/js/admin.js" type="module"></script>
</html>


