<%- include('partials/header') %>
  <body>
    <div id="accessMsg">
      You have to be admin to access this page
    </div>
    
    <form hidden>
      <input
        type="text"
        id="doctor_name"
        name="name"
        placeholder="Doctor name"
      />
      <input
        type="text"
        name="public_address"
        id="public_address"
        placeholder="Public address"
      />
      <button type="submit" id="addDoctor">Register</button>
    </form>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
  <script src="/js/admin.js" type="module"></script>
</html>
