<%- include('partials/header') %>
  <body>
    <%- include('partials/navbar') %>
    <div>
      <a href="/admin">Admin</a>
    </div>
    <div>
      <a href="/doctor">Doctor</a>
    </div>
    <div>
      <a href="/patient">Patient</a>
    </div>
  </body>

</html>
