<%- include('partials/header') %>

<script src="/js/patientAfterLogin.js" type="module"></script>
  <body>
    <%- include('partials/navbar') %>
    <button id="testDiabetesbtn" class="btn btn-primary">Test Diabetes</button>
    <button id="showDiabetesDatabtn" class="btn btn-primary">Get diabetes records</button>
    <br><br>
    <button id="testHeartbtn" class="btn btn-primary">Test Heart Disease</button>
    <button id="showHeartDatabtn" class="btn btn-primary">Get HeartDisease records</button>
  </body> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
   <script src="/js/@truffle/contract/dist/truffle-contract.js"></script>
   
</html>
