<%- include('partials/header') %>
  <body>
    <input type="text" name="patientName" id="patientName" placeholder="patient name">
    <input type="text" name="phoneNo" id="phoneNo" placeholder="phoneNo">
    <input type="text" name="age" id="age" placeholder="age">
    <div id="afterLoginContent"></div>
    <button type="submit" id="submitDetails">Submit</button>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
  <script src="/js/patient.js" type="module"></script>
</html>
