<%- include('partials/header') %>

<script src="/js/patient.js" type="module"></script>
  <body>
    <%- include('partials/navbar') %>
    <div style="width: 30%; margin: 30px auto;position: relative;">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
        <input type="text" class="form-control" name="patientName" id="patientName" placeholder="Patient name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
        <input class="form-control" type="text" name="phoneNo" id="phoneNo" placeholder="Phone No">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input class="form-control" type="text" name="age" id="age" placeholder="Age">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Sex</label>
        <input class="form-control" type="text" name="sex" id="sex" placeholder="Sex">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" >
      </div>

      <div style="text-align: center;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Test for symptoms
        </button>
      </div>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="text-align: center;">
                <button class="btn btn-outline-success active" id="diabetesSymptoms">Diabetes</button>
                <button class="btn btn-outline-success" id="heartSymptoms">Heart</button>
              </div>
              <br>
              <div id="symptoms"></div>

              <div class="alert" id="diabetesMessage" role="alert" hidden>
              
              </div>
              <div class="alert" id="heartMessage" role="alert" hidden>
              
              </div>
              <div>
              <div>
                <button id="loginToMetamask" class="btn btn-outline-success" disabled>Login to metamask</button>
                <br>
                <div class="alert alert-light" id="metamaskAddress" role="alert" hidden>
              </div>
              
              <p></p>
              <select id="hospitalDetails" class="form-select w-50" aria-label="Default select example" data-test-value='<%- JSON.stringify(hospitalInfo) %>' disabled>
                <option value="" disabled selected>Select hospital...</option>
              </select>
        
              <select id="doctorDetails" class="form-select w-50" hidden style="margin-top: 20px;"></select>
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveChanges" disabled>Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <br>
      <button type="submit" id="submitDetails" class="btn btn-success" disabled>Register</button>
      <span style="position: absolute;right: 0;">
        Already Registered? <a href="/patient/login" style="color: #198754;text-decoration:none"><b> Just Login</b></a>
      </span> 
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
   <script src="/js/@truffle/contract/dist/truffle-contract.js"></script>
</html>
