<%- include('partials/header') %>

<script src="/js/patient.js" type="module"></script>
  <body>
    <%- include('partials/navbar') %>
    <div style="width: 30%; margin: 30px auto;position: relative;">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
        <input type="text" class="form-control" name="patientName" id="patientName" placeholder="patient name" value="abc">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
        <input class="form-control" type="text" name="phoneNo" id="phoneNo" placeholder="phoneNo" value="1">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input class="form-control" type="text" name="age" id="age" placeholder="age" value="11">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="password" value="1">
      </div>
      <button id="loginToMetamask" class="btn btn-outline-secondary">Login to metamask</button>
      <div class="alert alert-light" id="metamaskAddress" role="alert">
      </div>
      
      <p ></p>
      <select id="hospitalDetails" class="form-select w-50" aria-label="Default select example" data-test-value='<%- JSON.stringify(hospitalInfo) %>' >
        <option value="" disabled selected>Select hospital...</option>
      </select>

      <select id="doctorDetails" class="form-select w-50" hidden style="margin-top: 20px;"></select>

      <br>
      <button type="submit" id="submitDetails" class="btn btn-outline-success">Register</button>
      <a href="/patient/login" style="position: absolute;right: 0;">Already Registered? Just Login</a>
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
   <script src="/js/@truffle/contract/dist/truffle-contract.js"></script>
</html>
