<%- include('partials/header') %>
  <body>
    <%- include('partials/navbar') %>
    <div style="width: 30%; margin: 30px auto;position: relative;">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      </div>
      <button id="loginToMetamask" class="btn btn-secondary">Login to metamask</button>
      <div class="alert alert-light" id="metamaskAddress" role="alert">
      </div>
      <button type="submit" id="submitDetails" class="btn btn-success">Login</button>
      <br><br>
  
      <div id="afterLoginContent"></div>
      Dont have an account? <a href="/patient" style="color: #198754;text-decoration:none" > <b>Register now!</b></a>
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
  ></script>
  <script src="/js/patientLogin.js" type="module"></script>
</html>
